@import 'variables';

.site-header{
    color:$highlight-color;
    display:grid;
    grid-template-rows:minmax(1px, 2fr) repeat(4, minmax(1px, 1fr));
    font-size:1.1em;
    font-weight: bold;
    margin-bottom:calc-Length-by-base-vertical-rythm($times: 1);
    text-align:center;
    @include triangele-sepalator($orange);

    & a,
    & a:visited,
    & a:active{
        color:$white;
        text-decoration-color:$white;
    }
}

.site-title{
    grid-row:1/2;
    padding-top:$base-vertical-rythm;
}

.site-detail{
    grid-row:2/3;
}

.copyright{
    grid-row:3/4;
}

.search-form-wrapper{
    grid-row:4/5;
}

.site-nav{
    display:grid;
    grid-row:5/6;
    grid-template-columns:repeat(3, minmax(1px, 1fr));
}
