@import 'variables';

.site-header{
    color:$highlight-color;
    display:grid;
    grid-template-rows:minmax(1px, 2fr) repeat(4, minmax(1px, 1fr));
    margin:$base-vertical-rythm 0;
    text-align:center;
    width:96dvw;

    & a,
    & a:visited,
    & a:active{
        color:$white;
    }
}

.site-title{
    grid-row:1/2;
    padding-top:$base-vertical-rythm;
}

.site-detail{
    grid-row:2/3;
}

.copyright{
    grid-row:3/4;
}

.search-form-wrapper{
    grid-row:4/5;
}

.site-nav{
    display:grid;
    grid-row:5/6;
    grid-template-columns:repeat(3, minmax(1px, 1fr));
}

/*.index-nav{
    box-sizing:border-box;
    display:grid;
    grid-template-columns:repeat(3, minmax(calc(#{$card-size} / 2), 1fr));
    margin:calc(#{$base-vertical-rythm} * 3) auto;
    max-width:94%;
    padding:1em 0;
    text-align:center;
    @include shadow;

    & > a{
        font:{
            size:1.6em;
            weight:bold;
        }
        grid-row:1 / 2;
    }

    & .search-form-wrapper{
        grid-column:1 / 4;
        grid-row:2 / 3;
    }

    & .mini-card{
        grid-row:3 / 4;
        width:100%;
    }
}*/
