@import 'variables';
.tag-cloud{
    list-style:none;

    & > *{
        display:inline-block;
    }
    
    & a{
        border-radius:1em;
        display:inline-block;
        font-size:1.1em;
        height:1.6em;
        max-width:10em;
        margin:0 .3em .3em 0;
        overflow:hidden;
        padding:0 1em;
        text-decoration:none;
        transition:500ms linear 50ms;
        @include border-1px($white);
        @include one-line-txt;
        
        &,
        &:visited,
        &:active{
            color:$white;
        }

        &:hover{
            transform:scale(1.2);
    }
}